.root {
    position: relative;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1 ) ;
    padding: 12px 20px;
    outline: none;
    width: 350px;
    border-radius: 15px;
    font-size: 16px;
    transition: all .15s ease-in-out ;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3 ) ;
        width: 450px;
    }
}

.icon {
    // width: 24px;
    // height: 24px;
    opacity: .5;
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
}

.clear {
    width: 30px;
    height: 30px;
    opacity: .7;
}